.loginContainer {
  display: flex;
  /* 수직 배열 */
  flex-direction: column;
  /* 수평 정렬 */
  justify-content: center;
  /* 수직 정렬 */
  align-items: center;
  height: 100vh;
}

.loginButton {
  padding: 10px 20px;
}