.sceneWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
    transform: scaleX(-1);
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 480px;
}