.myPageButton {
  min-width: 100px;
  min-height: 50px;
  background-color: #fb0e0e;
  color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.myPageButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
