@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.endPage {
  height: 100vh;
  background-image: url('/assets/cute-cat.png');
  background-size: cover;  /* 이미지 사이즈 조절 */
  background-position: center;  /* 이미지 위치 조절 */
  background-repeat: no-repeat;  /* 이미지 반복 여부 */
}

.scoreBoardMargin {
  height: 5vh;  /* 높이를 5vh로 설정 */
}

.scoreBoardHeader, .scoreBoardContent {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* 추가 */
}

.scoreBoardContainer {
  width: 90%;
  margin: auto;
  border: 3px solid #F59E0B;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(to right, rgba(254, 226, 226, 0.7), rgba(243, 244, 246, 0.7));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  /* 추가 */
  text-align: center;
}

.scoreBoardHeader {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  font-weight: bold;
  font-family: 'ONE-Mobile-POP';
  color: green;
}

.scoreBoardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: 'ONE-Mobile-POP';
  font-weight: bold;
  color: #10B981;
  margin: 30px 0;
}

.playerScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
}

.winner {
  color: #D97706;
  font-weight: bold;
  font-family: 'ONE-Mobile-POP';
}

.loser {
  color: #8B5CF6;
  font-weight: bold;
  font-family: 'ONE-Mobile-POP';
}

.colon {
  font-size: 2em;
  font-family: 'ONE-Mobile-POP';
  color: #10B981;
}

.buttonWrapper {
  width: 90%;
  display: flex;
  justify-content: flex-end;  /* 우측으로 정렬 */
  align-items: flex-end;  /* 하단으로 정렬 */
  margin: 0 auto; /* 상단 마진을 0으로 설정 */
  padding: 20px; /* 패딩 추가 */

}


.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 280px;  /* Or whatever width you'd like */
}

.mainButton {
  padding: 15px 30px;
  font-size: 25px;
  font-family: 'ONE-Mobile-POP';
  font-weight: bold;
  background: #10B981;
  color: white;
  border: none;
  border-radius: 5px;
}

.restartButton {
  padding: 15px 20px;
  font-size: 25px;
  font-family: 'ONE-Mobile-POP';
  font-weight: bold;
  background: #10B981;
  color: white;
  border: none;
  border-radius: 5px;
}
