.buttonOption {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 10px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}