.rankUserList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rankUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rankUser:nth-child(odd) {
    background-color: #f2f2f2;
}

.rankUser:nth-child(even) {
    background-color: #ffffff;
}

.rankUser:nth-child(1) {
    background-color: #3b62ff;
}

.rankUser>p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  